{% extends 'base.html' %}

{% block title %}Add contestan{% endblock %}

{% block content %}
    <div class="card-body star-form">
        <form action="." method="POST">
            <h3 class="title-form">Add contestan</h3>
            {% csrf_token %}
            <div class="form-group">
                <h2>{{ form.first_name.label }}</h2>
                <div class="input-group">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="form-group">
                <h2>{{ form.last_name.label }}</h2>
                <div class="input-group">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="form-group">
                <h2>{{ form.date.label }}</h2>
                <div class="input-group">
                    {{ form.date }}
                </div>
            </div>
            <div class="form-group">
                <h2>{{ form.phone.label }}</h2>
                <div class="input-group">
                    {{ form.phone }}
                </div>
            </div>
            <div class="form-group">
                <h2>{{ form.country.label }}</h2>
                <div class="input-group">
                    {{ form.country }}
                </div>
            </div>
            <div class="form-group">
                <h2>{{ form.email.label }}</h2>
                <div class="input-group">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group">
                <h2>Character</h2>
                <div class="input-group">
                    <select name="character" id="characters_select" class="form-control"></select>
                </div>
            </div>
            <button class="btn btn-form" type="submit">Save</button>
        </form>
    </div>

    <script>
        $(function () {
            $("#contestan_date").datepicker();
        });
        $(document).ready(function () {
            $.ajax({
                url: '/ajax/get_characters/',
                dataType: 'json',
                success: function (data) {
                    jQuery("#characters_select").empty()
                    for (var i = 0; i < data.characters.length; i++) {
                        jQuery("#characters_select").append('<option value="' + data.characters_ids[i] + '#' + data.characters[i] + '">' + data.characters[i] + '</option>');
                    }
                }
            });
        });
    </script>
{% endblock %}